<a href="https://colab.research.google.com/github/AdrianHarman/DLrepo/blob/master/pdseries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [2]:
#basic pd Series | pandas creates default int indexes
s = pd.Series([1,2,3,np.nan,5,6,7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    5.0
5    6.0
6    7.0
dtype: float64

In [8]:
#defining custom indexes and passing a numpy array
dates = pd.date_range('20180101',periods=6)

df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

df

                   A         B         C         D
2018-01-01 -1.469819  1.220344  1.067382  2.739391
2018-01-02 -1.090013 -0.671000  0.112451  1.128432
2018-01-03 -2.046257 -0.825126 -0.561347 -0.410141
2018-01-04  0.785017  0.069106 -1.597872  1.127267
2018-01-05 -2.788886  0.349012 -1.070474  0.701015
2018-01-06 -0.476079  1.326485  1.111562 -0.402821

In [12]:
#passing in a dict of objects into a df
df2 = pd.DataFrame({'A':1,
                    'B':pd.Timestamp('20130101'),
                    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D':np.array([3]*4,dtype='int32'),
                    'E':pd.Categorical(['train','test','train','test']),
                    'F':'foo'                  
})

df2

   A          B    C  D      E    F
0  1 2013-01-01  1.0  3  train  foo
1  1 2013-01-01  1.0  3   test  foo
2  1 2013-01-01  1.0  3  train  foo
3  1 2013-01-01  1.0  3   test  foo